body{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}
h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
h2{
    font-size: 30px;
}
h1, h2, p{
    text-align: center;
}
h1, h2{
    font-family: Impact, serif;
}
.menu{
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
article{
    display: flex;
    justify-content: space-between;
}
.est{
    font-style: italic;
    font-weight: 600;
}
hr{
    height: 2px;
    background-color: brown;
    border-bottom: brown;
}
section img{
    display: grid;
    place-items: center;
}
.flavor, .item{
    text-align: left;
    width: 75%;
}
.pricing{
    text-align: right;
    width: 25%;
}
.item p{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
/* FOOTER */
footer a{
    color: black;
    font-size: 16px;
}
a:hover{
    color: brown;
}